* {
   box-sizing: border-box;
}

:root {
   --width: 500px;
   --height: 500px;
}

body, html {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 0;
   padding: 0;

   background-color: #999;

   min-height: 100vh;
}

.layout {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;

   background-color: #FFF;

   margin: 0;
   padding: 0;
}

.desk {
   background-color: blue;
}

.wardrobe {
   background-color: aqua;
}

.bed {
   
}

