html, body {
   overflow-x: hidden;
   overflow-y: auto;
}

/* header */
header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   gap: 30px;

   position: relative;

   padding: 20px;
   margin-top: var(--nav-height);
   
   height: var(--header-height);
}

header * {
   color: #666666;
}

header .title,
header .title * {
   font-size: 50px;
   font-weight: bold;
}

header .evil {
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 20px 0;
}

header .slogan {
   font-size: 30px;
   text-align: center;
   line-height: 60px;
   color: #488286;
}

#evil-button {
   position: absolute;
   white-space: nowrap;

   font-size: 50px;
   font-weight: bold;

   border: 1px solid #ffba08;
   border-radius: 10px;
   outline: none;
   background: none;

   z-index: 10;
}

/* main */
/* main {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: 500px;

   gap: 50px;

   width: 1200px;
   max-width: 80%;

   margin: 60px auto;
   margin-top: calc(var(--nav-height) + 60px);

   min-height: calc(100vh - var(--nav-height) - 60px * 2);
} */
main {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 1200px;
   max-width: 80%;

   margin: 0px auto;
   margin-top: calc(var(--nav-height) + 60px);

   /* min-height: calc(100vh - var(--nav-height) - 60px * 2); */
}

main * {
   color: black;
}

main .result-area {
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   gap: 10px;

   padding: 0px 10px;

   /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
   background-color: #f7f9f9;
   
   border-radius: 25px;
}

main .result-area .spinner {
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);
}

main .result-area .username {
   font-size: 1.5rem;
   user-select: auto;
}

main .result-area .image-area {
   display: flex; flex-wrap: nowrap;

   gap: 10px;
   
   width: 100%;
   height: 80%;
}
main .result-area .image-area .image {
   width: 100%;
   height: 100%;
   /* aspect-ratio: 16 / 9; */
}
main .result-area .image-area .image img {
   width: 100%;
   height: 100%;

   object-fit: contain;
}

.go ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: fixed;
   right: 5%;
   bottom: 20px;

   padding: 0;
}
.go ul li {
   list-style: none;
   text-align: center;

   width: 100%;
   
   margin: 10px;
}
.go ul li button {
   width: 100%;

   border: 1px solid black;
   border-radius: 10px;
   outline: none;
   background: none;

   color: black;
   font-size: 1.5rem;
}
.go ul li button:hover {
   background-color: #3772ff;
   border: none;
   color: white;
}