{% extends "base.html" %}

{% block title %}Demo{% endblock %}

{% block cssEnd %}<link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script type="module" src="{{ url_for('static', filename='js/demo.js') }}"></script>{% endblock %}

{% block content %}
<main>
   <div class="result-area">
      <div class="username">Andy</div>
      <div class="image-area">
         <div class="image"><img src="{{ url_for('static', filename='image/demo/Andy-demo-1.jpg') }}" alt="收納紀錄"></div>
         <div class="image"><img src="{{ url_for('static', filename='image/demo/Andy-demo-2.jpg') }}" alt="收納紀錄"></div>
      </div>
   </div>
   <div class="result-area"></div>
   <div class="result-area"></div>
   <div class="result-area"></div>
   <div class="result-area"></div>
</main>
<div class="go">
   <ul>
      <li><button id="goTop">Top &uarr;</button></li>
      <li><button id="goBottom">Bottom &darr;</button></li>
   </ul>
</div>
{% endblock %}