{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
   <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>{% endblock %}

{% block content %}
<header>
   <div class="title">Where Is My Key?</div>
   <!-- <div class="evil"><button id="evil-button">Key?</button></div> -->
   <div class="slogan">
      Do you bother about remembering where items are? (e.g. naughty key or wallet)<br>
      To record it once and for all!
   </div>
</header>
<main>
   <!-- <div class="result-area">
      <div class="username">Andy</div>
      <div class="image-area">
         <div class="image"><img src="{{ url_for('static', filename='image/demo/Andy-demo-1.jpg') }}" alt="收納紀錄"></div>
         <div class="image"><img src="{{ url_for('static', filename='image/demo/Andy-demo-2.jpg') }}" alt="收納紀錄"></div>
      </div>
   </div>
   <div class="result-area"></div>
   <div class="result-area"></div>
   <div class="result-area"></div>
   <div class="result-area"></div> -->
   <div class="result-area">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EAnRPCwg8P0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
</main>
<!-- <div class="go">
   <ul>
      <li><button id="goTop">Top &uarr;</button></li>
      <li><button id="goBottom">Bottom &darr;</button></li>
   </ul>
</div> -->
{% endblock %}