{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>{% endblock %}

{% block content %}
<header>
   <div class="title">發表一篇圖文</div>
   <form class="upload" enctype="multipart/form-data" id="upload-form">
      <div class="input-area">
         <label for="uploadText">文字內容</label>
         <input type="text" placeholder="請加入圖片描述" id="uploadText" name="uploadText" required>
         <label for="uploadImage">圖片檔案</label>
         <input type="file" accept="image/gif, image/jpeg, image/png" name="uploadImage" id="uploadImage" required>
      </div>
      <button type="submit">送出</button>
   </form>
</header>
<main>
</main>
<a href="#" class="goTop">Top</a>
{% endblock %}