{% extends "base.html" %}

{% block title %}Item List{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/item-list.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script type="module" src="{{ url_for('static', filename='js/item-list.js') }}"></script>
   <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>{% endblock %}

{% block content %}
<header>
   <!-- <form id="search-form" class="hidden">
      <input type="text" id="keyword" name="keyword" placeholder="Search Item">
      <button class="search-icon">
         <img src="{{ url_for('static', filename='image/transparency.png') }}" alt="">
      </button>
   </form> -->
   <div class="title">Your Item List</div>
</header>
<main>
   <!-- <div class="item-container">
      <div class="item">
         <div class="item-name">desk</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/desk.png') }}" alt="Error" srcset=""></div>
      </div>      
      <div class="item">
         <div class="item-name">drawers</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/drawers.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">double bed</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/double bed.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">wardrobe</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/wardrobe.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">door</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/door.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">workspace</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/workspace.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">sofa</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/sofa.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">tv stand</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/tv stand.png') }}" alt="Error" srcset=""></div>
      </div>
      <div class="item">
         <div class="item-name">shower</div>
         <div class="item-image"><img src="{{ url_for('static', filename='image/main-item/shower.png') }}" alt="Error" srcset=""></div>
      </div>
   </div> -->
   <div class="layer-container">
      <!-- <div class="layer">
         <div class="button-area">
            <button id="desk"></button>
            <label for="desk" class="layer-name">Desk</label>
            <img src="{{ url_for('static', filename='image/main-item/desk.png') }}" alt="">
         </div>
         <ul>
            <li>
               <div class="button-area">
                  <button id="box"></button>
                  <label for="box" class="layer-name">box</label>
               </div>
               <ul>
                  <li>backpack
                     <img src="{{ url_for('static', filename='image/sub-item/backpack.png') }}" alt="">
                  </li>
                  <li>backpack</li>
               </ul>
            </li>
            <li>notebook</li>
         </ul>
      </div> -->
   </div>
</main>
<div class="go">
   <ul>
      <li><button id="goTop">Top &uarr;</button></li>
      <li><button id="goBottom">Bottom &darr;</button></li>
   </ul>
</div>
{% endblock %}