{% extends "base.html" %}

{% block title %}Member{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/member.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}
{% block cssEnd %}<link href="{{ url_for('static', filename='css/member-end.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script type="module" src="{{ url_for('static', filename='js/member.js') }}"></script>
   <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>{% endblock %}

{% block content %}
<div class="sub-nav">
   <ul class="button-list">
      <li class="button"><button id="room" class="focus">Room</button></li>
      <li class="button"><button id="setting">Setting</button></li>
   </ul>
</div>
<main>
   <div class="setting-container hidden" data-subNav="setting">
      <ul>
         <li><button id="account" class="focus">Account</button></li>
         <li><button id="password">Password</button></li>
      </ul>
      <hr class="vertical">
      <div class="setting">
         <div class="setting-part" data-setting="account">
            <div class="title" data-user="name"></div>
            <hr>
            <div class="title" data-user="email"></div>
         </div>
         <form class="setting-part hidden" data-setting="password">
            <div class="title">Change Password</div>
            <hr>
            <label for="old-password">Old Password</label>
            <input type="password" name="" id="old-password" placeholder="Min(4). UC, LC, Num." onfocus="this.select();" minlength="4" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
            <hr>
            <label for="new-password">New Password</label>
            <input type="password" name="" id="new-password" placeholder="Min(4). UC, LC, Num." onfocus="this.select();" minlength="4" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
            <hr>
            <label for="new-password-confirm">New Password Confirm</label>
            <input type="password" name="" id="new-password-confirm" placeholder="Min(4). UC, LC, Num." onfocus="this.select();" minlength="4" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
            <button type="submit">Change Password</button>
         </form>
      </div>
   </div>
   <div class="room-container" data-subNav="room">
      <div class="title" id="room-list"></div>
      <hr class="room">
      <button id="new-room" class="hidden">New Room</button>
   </div>
</main>
{% endblock %}